In [ ]:
#hello my name is vedanth
#WE need line 27527 cut 0 to 27526
import pandas as pd
#making dataframe (df) of the csv
df = pd.read_csv("atp_tennis.csv")
#cut every data row that is before 2010
df = df.iloc[27526:]