In [ ]:
#hello my name is vedanth
#WE need line 27527 cut 0 to 27526
import pandas as pd

df = pd.read_csv("atp_tennis.csv")